* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6; /* sets background color to white */
}

/*the following rules apply to all classes inside the header container */
.header {
    padding: 20px; /* sets the padding to 20px */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*the following rules apply header h1  */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* the following rules apply header h1 span */
.header h1 .seo {
    color: #d9dcd6;
}

/* the following rules apply all elements inside the nav bar */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* the following rules apply to the nav bar list */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* the following rules apply to the anchor tags */
a {
    color: #ffffff;
    text-decoration: none;
}

/* the following rules apply to the paragraph tags */
p {
    font-size: 16px;
}

/* the following rules apply to the marketing meeting image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
}

/* the following rules apply to all containers inside the content class */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* the following rules apply to the search engine optimization container */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px; /* sets image max height to 200px */
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* the following rules apply to the online reputation management container */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management img {
    max-height: 200px; /* sets image max height to 200px */
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* the following rules apply to the social media marketing container */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing img {
    max-height: 200px; /* sets image max height to 200px */
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* the following rules apply to the float left class */
.float-left {
    float: left; /* moves the image to the left of the container */
    margin-right: 25px;
}

/* the following rules apply to the float right class */
.float-right {
    float: right; /* moves the image to the right of the container */
    margin-left: 25px;
}

/* the following rules apply to the benefits container */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* the following rules apply to the benefits-lead container */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* the following rules apply to the benefits-brand container */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* the following rules apply to the benefits-cost container */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* the following rules apply to the footer container */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
